.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px
}

.articleForm{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem;
}

.popup_btn{
    all: unset;
    background-color: #9c9c9c;
    color: black;
    cursor: pointer;
    padding: 0px 6px;
    border: 1px solid black;
    border-radius: 70%;
}

.popup_modal{

}