@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Gowun Batang', serif;
}
/*202124*/
body{
    background-color: #1c1c1c;
    /*background-color: #202124;*/
    text-align: center;
    font-family: 'Gowun Batang', serif;
}

div #wrap {
    width: 100%;
    text-align: left;
    min-height: 300px;
    margin: 0 auto;
    padding: 0;
}

header{
    height: 40px;
    border-bottom: 1px solid #858282;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content : space-between;
}

header>div>span#logo{
    margin-left: 20px;
}

header>div>span#header_dep1{
    margin-left: 5px;
}
header>div>span#header_dep3{
    color: #4DC3FA;
}
header>div#header_right>span{
    color: #e8e8de;
    margin-right: 15px;
}


.container {
    display: flex;
    text-align: left;
    height: calc(100vh - 64px);
}

nav, section, aside {
    padding: 10px;
}

section {
    width: 80%;
    border-left: 1px solid #858282;
    border-right: 1px solid #858282;
    text-align: center;
    color: white;
    padding: 20px;
    overflow-y: auto;
    background-color: rgb(37, 37, 37);
}

section.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section.items>article{
    /*height: 33vh; ??궁금한거 : 반응형으로 박스 사이즈 조절
    width: 33vh;*/
    border: 1px dashed #858282;
    padding: 20px;
    margin-bottom: 40px;
    text-align: left;
    background-color: #1c1c1c;
}

section.items>article::-webkit-scrollbar {
    display: none;
}

section.items>article>h1{
    font-size: x-large;
    padding-bottom: 20px;
}

section.items>article>pre{
    white-space: pre-wrap;
    word-break: break-all;
}
nav {
    width: 13%;
    background-color: #1c1c1c;
}

aside {
    width: 7%;
    color: white;
    word-break:break-all;
    word-wrap:break-word;
}
aside>p {
    color: white;
    border-bottom: 1px solid white;
}

footer {
    height: 20px;
    clear: both;
    border-top: 1px solid #858282;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content : space-between;
    overflow: hidden;
}

footer>div#footer_left:first-child{
    position: relative;
    align-items: center;
    margin-left: 15px;
    color: #bbbbbb;
    font-size : small;
}
footer>#footer_left>a:nth-child(n+2){
    position: relative;
    align-items: center;
    margin-left: 5px;
    color: #bbbbbb;
    font-size : small;
}

footer>div#footer_center{
    position: relative;
    align-items: center;
    color: #bbbbbb;
    font-size : small;
}

footer>div#footer_right{
    position: relative;
    align-items: center;
    margin-right: 15px;
    color: #bbbbbb;
    font-size : small;
}

/*scroll bar ---*/
section::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

section::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #858282; /* 스크롤바의 색상 */
}

section::-webkit-scrollbar-track {
    background: #202124;  /*스크롤바 뒷 배경 색상*/
}
/*--- scroll bar*/


a {
    color: #bbbbbb;
    font-weight: normal;
    text-decoration: none;
}

li {
    list-style: none;
}

.test{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem;
}
